In [30]:
print('alo mundo')

alo mundo

In [6]:
! pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\ead\desktop\guido\projetofinal_tarde\.venv\lib\site-packages (2.0.31)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\ead\desktop\guido\projetofinal_tarde\.venv\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ead\desktop\guido\projetofinal_tarde\.venv\lib\site-packages (from sqlalchemy) (3.0.3)

In [7]:
import pandas as pd

In [9]:
# Módulo

from sqlalchemy import create_engine

In [10]:
! pip install pymysql

Requirement already satisfied: pymysql in c:\users\ead\desktop\guido\projetofinal_tarde\.venv\lib\site-packages (1.1.1)

In [11]:
import pymysql

In [12]:
import urllib.parse

In [13]:
# Dfinir as credenciais
user = 'root'
password = urllib.parse.quote_plus('senai@123')
host = 'localhost'
database = 'schooltracker'

# Criar uma url de conexão
connection_string = f'mysql+pymysql://{user}:{password}@{host}/{database}'

# criar uma conexão com o create_engine()
engine = create_engine(connection_string)

# Escrever uma consulta SQL
query_alunos = 'SELECT * FROM aluno'

# Criar o DataFrame
df_alunos = pd.read_sql(query_alunos,engine)

# Mostra os cinco primeiros
df_alunos.head()

   id        ra  nome  tempoestudo  renda_media_mensal_familiar
0   1  00034547  None          NaN                          NaN
1   2  00034548  None          NaN                          NaN
2   3  00034549  None          NaN                          NaN
3   4  00034550  None          NaN                          NaN
4   5  00034551  None          NaN                          NaN

# Quais bibliotecas um cientista de dados utiliza

Pandas
Numpy
Scikit-Learn (fundamentos de IA)

## Material Didático

Notebook (pandas, numpy)
Apostila senai (scikit-learn)

# Carregar dados

# Salvar um DataFrame

In [14]:
csv_filename = 'alunos.csv'
df_alunos.to_csv(csv_filename, index=False)

# Exercício -Salve o DataFrame no formato Json

In [15]:
csv_filename = 'alunos.json'
df_alunos.to_json(csv_filename, index=False)

In [33]:
! pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

# Um novo DataFrame

In [19]:
csv_filename = 'planilha_alunos.xlsx'
df_alunos.to_excel(csv_filename, index=False)

PermissionError: [Errno 13] Permission denied: 'planilha_alunos.xlsx'

In [20]:
df_alunos.columns

Index(['id', 'ra', 'nome', 'tempoestudo', 'renda_media_mensal_familiar'], dtype='object')

In [24]:
df_tempo_renda = df_alunos[['tempoestudo','renda_media_mensal_familiar']]
df_tempo_renda

     tempoestudo  renda_media_mensal_familiar
0            NaN                          NaN
1            NaN                          NaN
2            NaN                          NaN
3            NaN                          NaN
4            NaN                          NaN
..           ...                          ...
100         21.0                       3000.0
101         17.0                       3100.0
102         25.0                       3400.0
103         12.0                       3200.0
104         20.0                       2900.0

[105 rows x 2 columns]

# Exercício 2 - Crie um recurso para mostrar apenas o tipo desse recurso

In [26]:
type(df_tempo_renda)

pandas.core.frame.DataFrame

In [28]:
df_tempo_renda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 2 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   tempoestudo                  50 non-null     float64
 1   renda_media_mensal_familiar  50 non-null     float64
dtypes: float64(2)
memory usage: 1.8 KB

In [30]:
df_tempo_renda.shape

(105, 2)

In [33]:
df_tempo_renda['tempoestudo']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
100    21.0
101    17.0
102    25.0
103    12.0
104    20.0
Name: tempoestudo, Length: 105, dtype: float64

In [34]:
serie_tempo_renda = df_tempo_renda['tempoestudo']

In [35]:
type(serie_tempo_renda)

pandas.core.series.Series